services:
  db:
    container_name: currency-exchange-db
    image: postgres:14-alpine
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "4679:5432"

  api:
    container_name: currency-exchange-api
    image: asalavei/currency-exchange-tomcat:stable
    environment:
      POSTGRES_URL: jdbc:postgresql://db/currency_exchange
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    depends_on:
      db:
        condition: service_healthy
    restart: on-failure
    ports:
      - "8181:8080"

  frontend:
    container_name: currency-exchange-frontend-nginx
    image: nginx:1-alpine
    ports:
      - 3030:80
    volumes:
      - ./frontend/:/usr/share/nginx/html