version: "3.9"

services:
  postgres:
    image: postgres:14-alpine
    restart: always
    environment:
      POSTGRES_DB: currency_exchange
      POSTGRES_USER: ${POSTGRES_USER:-admin}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-admin}
    ports:
      - "4679:5432"

  flyway:
    image: flyway/flyway:10-alpine
    command: -url=jdbc:postgresql://postgres/currency_exchange -schemas=public -user=${POSTGRES_USER:-admin} -password=${POSTGRES_PASSWORD:-admin} -connectRetries=60 migrate
    depends_on:
      - postgres
    volumes:
      - ./src/main/resources/db/migration:/flyway/sql